extends ../layout

block content
    h1= 'The Known World'
    ul
        - world.areas.each(function(area){
            li
                a(href='/world/' + area.get('id'))
                    = area.get('id') + ': ' + area.get('title')
        - })